* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    src: url("/assets/Fonts/Raleway-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Roborto, Arial, Helvetica, sans-serif;
    src: url("/assets/Fonts/Raleway-Regular.ttf");
    font-weight: 400;
}

body {
    background-color: #F9F4EC;
} 

.layout {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.layout2 {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 50px;
    font-size: 54.93px;
    line-height: 82px;
}

h2 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 43.95px;
    line-height: 65px;
}

h3 {
   font-family: Roborto, Arial, Helvetica, sans-serif;
   font-weight: 500;
   text-align: center;
   padding: 20px;
   font-size: 20px;
   line-height: 30px;
}

 h4 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 30px;
}

h5 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 35.16px;
    padding-bottom: 40px;
    line-height: 52px;
}

h6 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 35.16px;
    line-height: 52px;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

a h4 {
    color: #000;
}

a:hover h4 {
   color: #000;
   border-bottom: 2px solid #000;

}

.header {
    height: 480px;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.wrapper {
    width: 100%;
}

.header-box {
    position: absolute;
    display: flex;
    align-items: flex-start;
    z-index: 10;
    flex-flow: row wrap-reverse;
}

@media screen and (min-width: 840px) {
    .header-box {
        flex-flow: row nowrap;
        min-width: 1000px;
        margin: 0 auto;
        justify-content: space-between;
    }
}

 .blog-name {
    padding: 90px;
    font-size: 40px;
    flex-grow: 1;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 500;
 }

 @media screen and (min-width: 840px) {
     .blog-name{
        padding: 90px 0 0 0;
     } 
 }

 .menu {
     display: flex;
     flex-grow: 1;
     width: 200px;
     margin-top:50px;
     justify-content: space-evenly;
     font-family: Roboto, Arial, Helvetica, sans-serif;
     font-size: 20px;
     top: 50px;
 }

 .menu-item a {
     color: #000;
 }

 .menu-item a:hover {
    color: #666;
    border-bottom: 2px solid #666;
}

 @media screen and (min-width: 840px) {
    .menu {
        justify-content: space-between; 
    }
 }


 .card {
     display: flex;
     flex-flow: row wrap;
     width: 100%;
     background-color: #fff;
     margin: 4rem auto;
 }

 @media screen and (min-width: 840px) {
    .card {
        flex-flow: row nowrap;
        margin: 20px 0;
    }

    .card-reverse {
        flex-flow: row-reverse;
        margin: 20px 0;
     }
 }

 .card .card-img {
     flex-grow: 1;
 }

 .card .card-img img {
    width: 100%;
    
 }

 @media screen and (min-width: 840px) {
    .card .card-img img {
        width: 500px;
     }
 }

.card .card-text {
    flex-grow: 2;
    padding: 40px;
    font-family: Roborto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

@media screen and (min-width: 840px) {
    .card .card-text {
    padding:0;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    }
}

.card-text-small {
    display: flex;
    justify-content: left;
    padding-bottom: 30px;
}

.card-text-small-2 {
    display: flex;
    justify-content: left;

}

.card-2 {
    width: 100%;
    height: 550px;
    background-color: #7FA493;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.card-2-text {
    padding: 50px;
}

.card-img-2 img {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 200px;
}

@media screen and (min-width: 840px) {
    .card-img-2 img {
        width: 100%;
        height: auto;
    }
    .card-img-2 {
        margin: 0 auto;
    }
}

.footer {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: #7FA493;
    padding: 30px;
}

.Social-Media {
    display: flex;
    flex-direction: column;    
    width: 250px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.icon {
    width: 15px;
    height: 15px;
}


.Contact {
    display: flex;
    flex-direction: column;
    width: 250px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.footer-box {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 840px) {
    .footer-box {
        flex-direction: row;
    }
}


/* side 2 */ 

.hero img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
 
@media screen and (min-width: 768px) {
    .hero img {
        height: 600px;
     }
}

.card-3 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.text-box {
    font-family: Roborto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 90%;
}

@media  screen and (min-width: 768px) {
    .text-box {
        width: 500px;
    }
}

.picture {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    .picture-box {
        padding: 0px;
    }
}

.picture img {
    width: 100%;
}
 
.picture-box {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
}

.picture-box img {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .picture-box {
        flex-flow: row nowrap;
        padding: 0px;
    }
}

@media screen and (min-width: 768px) {
    .picture-box img {
        width: 430px;
        height: 400px;
    }
}

.image-card {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    margin: 20px;
}

.image-card img {
    display: inline;
    height: 400px;
}

@media screen and (min-width: 768px) {
    .image-card img {
        height: 500px;
    }
}
